<div class="card m-3">
  <h5 class="card-header">Détail de l'étudiant</h5>
  <div class="card-body">
    @if (loading) {
      <div class="alert alert-info">Chargement...</div>
    }
    @if (errorMessage) {
      <div class="alert alert-danger">{{ errorMessage }}</div>
    }
    @if (student) {
      <dl>
        <dt>ID</dt><dd>{{ student.id }}</dd>
        <dt>Prénom</dt><dd>{{ student.firstName }}</dd>
        <dt>Nom</dt><dd>{{ student.lastName }}</dd>
        <dt>Email</dt><dd>{{ student.email }}</dd>
        <dt>Date de naissance</dt><dd>{{ student.birthDate }}</dd>
      </dl>
      <a class="btn btn-warning" [routerLink]="['/students', student.id, 'edit']">Modifier</a>
      <a class="btn btn-secondary" routerLink="/students">Retour</a>
    }
  </div>
</div>
